streamlit
numpy
pandas
scikit-learn
pillow
opencv-python
opencv-contrib-python
scikit-image
torch
torchvision
streamlit
numpy
pandas
scikit-learn
pillow
opencv-python-headless
scikit-image
torch
torchvision
